#Data types and sturctures

1.  What are data structures, and why are they important
      
    Ans.  => data structures are essential for organizing, storing, and managing data in a way that allows computers to efficiently use, retrieve, and manipulate it.

2. Explain the difference between mutable and immutable data types with examples.   
      Ans. =>  Mutable means "changeable". Mutable data types can be modified after they're created.

Examples:
1. Lists: You can add, remove, or change elements in a list.


fruits = ["apple", "banana"]
fruits.append("orange")  # adds "orange" to the list
print(fruits)  # Output: ["apple", "banana", "orange"]


Immutable Data Types
Immutable means "unchangeable". Immutable data types cannot be modified after they're created.

Examples:
Integers: You can't change the value of an integer.
x = 5
x = x + 1  # creates a new integer, doesn't change the original
print(x)  # Output: 6

3.  What are the main differences between lists and tuples in Python?

    Ans=> Lists
- Mutable (can be changed)
- Defined using square brackets []
- Can add, remove, or modify elements
- Slower and more memory-intensive

Tuples
- Immutable (cannot be changed)
- Defined using parentheses ()
- Cannot add, remove, or modify elements
- Faster and more memory-efficient

 4.Describe how dictionaries store data

    Ans=> Dictionaries store data as key-value pairs.

- Keys: Unique names or identifiers (like names, IDs, etc.)
- Values: The data associated with each key (like numbers, strings, etc.)

5.  Why might you use a set instead of a list in Python
    Ans=> sets are ideal when you need fast lookups, unique elements, and efficient mathematical operations.

6.  What is a string in Python, and how is it different from a list

    Ans=>Immutability: Strings are immutable, while lists are mutable.
- Data type: Strings are sequences of characters, while lists can hold any data type.
- Syntax: Strings use quotes, while lists use square brackets.

7.  How do tuples ensure data integrity in Python?

    Ans=> Tuples ensure data integrity in Python by being:

Immutable
- Tuples cannot be changed after creation.
- This prevents accidental or intentional modifications.

Protected from modification
- Tuples prevent data corruption or tampering.
- Ensures that data remains consistent and reliable.

8.  What is a hash table, and how does it relate to dictionaries in Python?

    Ans=> A hash table is a data structure that stores key-value pairs in an efficient way. It uses a "hash function" to map keys to specific locations, allowing for fast lookups, insertions, and deletions.

Relation to Dictionaries in Python
In Python, dictionaries are implemented using hash tables. This means that dictionaries provide fast and efficient storage and retrieval of key-value pairs, making them ideal for many applications.

9.  Can lists contain different data types in Python?

    Ans=> Yes, lists in Python can contain different data types!

A single list can hold:

- Integers (1, 2, 3)
- Floats (3.14, 2.5)
- Strings ("hello", "world")
- Boolean values (True, False)
- Other lists (nested lists)
- Even dictionaries and tuples!

10.  Explain why strings are immutable in Python.

    Ans=> In Python, strings are immutable because:

Memory efficiency: No need to create new copies.
Thread safety: Multiple threads can access strings safely.
Hashing: Strings can be used as dictionary keys.
Security: Reduces risk of certain attacks.
Simpler code: Easier to implement string operations.

11.  What advantages do dictionaries offer over lists for certain tasks

    Ans=> Dictionaries offer these advantages over lists:

- Faster lookup: Find values by key, instead of searching through the list.
- Unique keys: Automatically eliminate duplicate keys.
- Organized data: Store and access data by meaningful keys, not just indices.
- Efficient insertion and deletion: Add or remove key-value pairs without shifting the entire list.

12.  Describe a scenario where using a tuple would be preferable over a list.

    Ans=> You're storing a person's name, age, and birthdate. This data shouldn't change.

Use a tuple: (name, age, birthdate) because:
+ The data is constant and shouldn't be modified.
+ You want to ensure data integrity.
+ Tuples are faster and more memory-efficient.

In this case, a tuple is perfect because it provides a lightweight, immutable way to store a small collection of related values.

13. How do sets handle duplicate values in Python?
    Ans=> Remove duplicates: If you add a value that already exists in the set, it will be ignored.
Maintain uniqueness: Sets only store unique values, ensuring that each element appears only once.

Example:


my_set = {1, 2, 2, 3, 3, 3}
print(my_set)  # Output: {1, 2, 3}

14.  How does the “in” keyword work differently for lists and dictionaries
    Ans=> The "in" keyword works differently for lists and dictionaries:

Lists
- Checks if a value exists in the list.
- Returns True if the value is found, False otherwise.

Dictionaries
- Checks if a key exists in the dictionary.
- Returns True if the key is found, False otherwise.

15.  Can you modify the elements of a tuple? Explain why or why not

    Ans=> No, you cannot modify the elements of a tuple.

Tuples are immutable in Python, meaning their contents cannot be changed after creation. This is because tuples are designed to be lightweight and efficient, and immutability helps ensure data integrity.

If you try to modify a tuple, you'll get a TypeError:

16.  What is a nested dictionary, and give an example of its use case?

    Ans=> A nested dictionary is a dictionary that contains another dictionary as its value
    - Storing complex data with multiple levels of information.
- Organizing data in a hierarchical structure.
- Easily accessing and manipulating nested data.

17.  Describe the time complexity of accessing elements in a dictionary

    Ans=> Accessing elements in a dictionary has an average time complexity of:

O(1)

Meaning:

- Fast and constant time access, regardless of dictionary size.
- Lookup, insertion, and deletion operations are efficient.

18.  In what situations are lists preferred over dictionaries?

    Ans=> Lists are preferred over dictionaries when:

- You need to store ordered data.
- You need to access elements by index.
- You need to store duplicate values.
- You're working with simple, sequential data.

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?

    Ans=> Dictionaries are considered unordered because the order of key-value pairs is not guaranteed.

This affects data retrieval because:

- You can't rely on a specific order.
- Use methods like .keys(), .values(), or .items() to access data.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
    Ans=> List
- Retrieve data by index (position).
- Use square brackets [] with the index number.

Dictionary
- Retrieve data by key.
- Use square brackets [] with the key name.

Example:


my_list = [1, 2, 3]
my_dict = {"a": 1, "b": 2}

print(my_list[0])  # Output: 1
print(my_dict["a"])  # Output: 1

In [ ]:
# Q1=> Write a code to create a string with your name and print it

name = "Abhishek"
(name)

'Abhishek'

In [ ]:
# Q2nd =>  Write a code to find the length of the string "Hello World"

string = "Hello World"
len(string)

11

In [5]:
# Q3=>  Write a code to slice the first 3 characters from the string "Python Programming"


my_slicing = "Python programming"
my_slicing[:3]

'Pyt'

In [17]:
4# Write a code to convert the string "hello" to uppercase

string = "hello"
string_2 = string.upper()
string_2

'HELLO'

In [36]:
# 5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

fruit = " I like apple"
fruit.replace("apple",  "orange")

' I like orange'

In [37]:
#. 6  Write a code to create a list with numbers 1 to 5 and print it.

List = [1, 2, 3, 4, 5]
List

[1, 2, 3, 4, 5]

In [38]:
#. 7  Write a code to append the number 10 to the list [1, 2, 3, 4]

Numbers = [1, 2, 3, 4]
Numbers.append(10)
Numbers

[1, 2, 3, 4, 10]

In [40]:
#. 8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

Numbers = [1,2,3,4,5]
Numbers.remove(3)
Numbers

[1, 2, 4, 5]

In [41]:
# 9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

List = ["a","b", "c","d"]
List[1]

'b'

In [48]:
#. 10  Write a code to reverse the list [10, 20, 30, 40, 50].

List = [10, 20, 30, 40, 50]
List.reverse()
List

[50, 40, 30, 20, 10]

In [49]:
 #11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

 Numbers = (100, 200, 300)
 Numbers

(100, 200, 300)

In [59]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

Colours = ("red", "green", "blue", "yellow")
Colours_2 = Colours[-2]
Colours_2

'blue'

In [62]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

Numbers = (10, 20, 5, 15)
min(Numbers)

5

In [63]:
 #14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

 Find = ('dog', 'cat', 'rabbit')
 Find.index("cat")

1

In [71]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("banana", "apple", "papaya")
Fruits_2 = "kiwi" in fruits
Fruits_2

False

In [72]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

Set = {"a", "b", "c"}
Set

{'a', 'b', 'c'}

In [78]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set ={1, 2, 3 , 4 , 5}
set.clear()
set

set()

In [87]:
#  18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

Set = {1, 2, 3, 4}
Set.remove(4)
Set

{1, 2, 3}

In [89]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

Set_1 = {1, 2, 3}
Set_2 = {3, 4, 5}
Set_1.union(Set_2)

{1, 2, 3, 4, 5}

In [90]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

Set_1 = {1, 2, 3}
Set_2 = {2, 3, 4}
Set_1.intersection(Set_2)

{2, 3}

In [99]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.


Details = {"name" :"Abhishek", "Age" : "24", "City": "Delhi"}
(Details)

{'name': 'Abhishek', 'Age': '24', 'City': 'Delhi'}

In [100]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

Details = {'name': 'John', 'age': 25}
Details["country"] = "USA"
Details

{'name': 'John', 'age': 25, 'country': 'USA'}

In [101]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

Details = {'name': 'Alice', 'age': 30}
Details["name"]

'Alice'

In [102]:
#  24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

Details = {'name': 'Bob', 'age': 22, 'city': 'New York'}
Details.pop("age")
Details

{'name': 'Bob', 'city': 'New York'}

In [135]:
#  25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

Details = {'name': 'Alice', 'city': 'Paris'}
if "city" in Details:
  print("Key 'city' exists in the dictionary.")
else:
  print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [106]:
from typing import Dict
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

List = [1, 2, 3, 4, 5]
Tuple = ("a, b, c")
Dict = {"name": "Abhishek", "Age": "24"}
print(List)
print(Tuple)
print(Dict)

[1, 2, 3, 4, 5]
a, b, c
{'name': 'Abhishek', 'Age': '24'}

In [107]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the

import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[8, 16, 44, 52, 89]

In [121]:
#28. Write a code to create a list with strings and print the element at the third index.

List =["apple", "banana", "mango", "kiwi"]
List_2 = List [3]
print(List_2)

kiwi

In [134]:
#29  Write a code to combine two dictionaries into one and print the result.

Dict_1 = {"Name":"Abhi", "age" :29}
Dict_2 = {"city":"Delhi", "marks":99}

Dict_3 = {**Dict_1,**Dict_2}
Dict_3

{'Name': 'Abhi', 'age': 29, 'city': 'Delhi', 'marks': 99}

In [149]:
# 30. Write a code to convert a list of strings into a set.

list_1 = ["apple", "banana", "mango", "kiwi"]
new_set = set(list_1)
new_set

TypeError: 'set' object is not callable